* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 17px;	
}

body{
	line-height: 1.6em;
	font-family: 'Lato', sans-serif;
	font-family: 'Signika', sans-serif;
}



/*navigation*/

.navbar-brand {
	color: yellow;
	font-size: 25px;
	background-color: black;
	letter-spacing: 2px;
	border-radius: 10px;
	font-family: 'Ma Shan Zheng', cursive;
	font-family: 'Lobster', cursive;
	padding: 8px;

}

.navbar-brand:hover {
	color: black;
	background-color: yellow;
}

.btn,
.navbar-search {
	font-family: 'Ma Shan Zheng', cursive;
	font-family: 'Lobster', cursive;
	color: black;
}

.btn {
	text-decoration: none;
}

.navbar-search:hover,
.btn:hover {
	color: white;
}

.nav-link:hover {
	border-bottom: 2px solid yellow;
	color: black;
}

.nav-link {
	color: black;
	letter-spacing: 2px;
	font-family: 'Ma Shan Zheng', cursive;
	font-family: 'Lobster', cursive;
	font-size: 19px;	
}



/*landing page*/
body {
	color: white;
}

#showcase {
	background-image: url(xanoy.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
}
/* set #showcase margin-top: 70px; if using nav fixed top*/

#showcase h1{
	font-size: 50px;
	text-align: center;
	padding-bottom: 30px;
}

#showcase p{
	font-size: 20px;
}

#showcase .button{
	font-size: 18px;
	text-decoration: none;
	color: yellow;
	border: 1px solid yellow;
	padding: 3px 10px;
	border-radius: 5px;	
	margin-top: 20px;
}

#showcase .button:hover{
	background: black;
	color: white;
}

/*section 1- explore*/
.container-1 {
	text-align: center;	
	color: white;
	background-color: black;
	width: 100%;
}

#photo {
	width: 100%;
	color: black;
}

.figure-1 {
	color: white;
}

.gallery>a {
	text-decoration: none;
}
a .figure-1:hover{
	color: yellow;
}


#explore>h3,
#discover>h3 {
	margin-bottom: 20px;
	font-size: 35px;
}

/*start styling for images*/
.gallery {
	padding-bottom: 5px;
}

.gallery img {
	transition: 2s;
}

.gallery img:hover {
	filter: grayscale(100%);
	transform: scale(1.1);
}

.row {
	margin: 0 auto;
	padding-bottom: 30px;
	padding-top: 30px;
}

/*end*/

.row>a {
	border-style: none;
}

/*Search section*/
.search {
	border-radius: 5px;
	width: 50%;
	height: 38px;
}

.search h2 {
	text-align: center;
}

.searchForm{
	position: relative;
}

.searchBtn{
	border-color: transparent;
	background-color: transparent;
	height: auto;
	position: absolute;
	left: 25%;
	top: 2%;
}

.searchForm input[type=search]{
	padding-left: 2rem;
}

.searchForm img{
	width: 80%;
	height: auto;
}



/* section 2 -Discover*/

.box-1 h2 {
	color: black;
	letter-spacing: 2px;
	font-family: 'Ma Shan Zheng', cursive;
	font-family: 'Lobster', cursive;
}

.container-3 {
	color: white;
	text-align: center;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 80px;
	padding-left: 70px;
	padding-right: 70px;
	background-color: black;
}

#discover h3,
#explore h3 {
	padding-top: 25px;
	letter-spacing: 2px;
}

#photo>p {
	padding-bottom: 25px;
	color: white;
}


.container-4,
.container-3 {
	width: 100%;
}

#photo p:hover{
	color: yellow;
	text-decoration: none;
}

#discover a {
	text-decoration: none;
}

#discover a:hover {
	color: yellow;
}

.discover-img {
	transition: 2s;
}

.discover-img:hover {
	filter: grayscale(100%);
	transform: scale(1.1);
}

#discover div {
	padding: 10px;
}

/*section 3 -subscribe */
.box-1 {
	background-color: white;
	text-align: center;
	padding: 75px;
	color: black
}

#email {
	border-style: none;
	border-bottom: 2px solid black;
	padding: 8px;
	margin-right: 2px;
	width: 35%;
}


.box-2,
form {
	background-color: white;
	text-align: center;
	padding-bottom: 50px;
}

#submit {
	background-color: yellow;
	color: black;
	padding: 7px;
	border-radius: 5px;
}

/*carousel slide*/
.carousel-inner img {
      width: 100%;
      height: 100%;
}

.carousel-item img {
	width: 100%;
	height: 50%;
}

/*footer*/
.container-5 {
	background-color: black;
	margin-bottom: 70px;
}

footer {
	color: white;
	text-align: center;
	border-top: 1px solid yellow;
	padding: 8px;
}

footer div{
	font-size: 12px;
}

footer a {
	text-decoration: none;
	color: yellow;
	font-size: 12px;
}

.icon {
	border-radius: 5px;
	margin-top: 25px;
	margin-bottom: 15px;
	padding: 3px;
}

footer div {
	margin-bottom: 15px;
}